*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(underwater.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 60%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004E64;
}

header img {
    width: 50px;
    display: none;
 }

header .group-name {
    color: white ;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: larger;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 10px;
}

header ul li a:hover, 
header ul li a.active {
    background: white;
    color: black;
    transition: .3s;
}

.about {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 2px;
    font-size: xx-large;
}

.vision-text,
.mission-text,
.goal-text {
    color: white;
    font-size: x-large;
    text-align: left;
    white-space: pre-line;
}

.vision-text h2, 
.mission-text h2,
.goal-text h2{
    display: flex;
    justify-content: center;
}

.vision-container img,
.mission-container img,
.goal-container img {
    height: 400px;
    width: 600px;
    border-radius: 10px;
}

.vision-container, 
.mission-container {
    margin-top: 100px;  
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
}

.goal-container {
    margin-top: 100px;  
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

@media only screen and (max-width:1200px) {

    body {
       background-position: center;
    }
 
    header ul {
        width: 100%;
        background-color: #388494;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
        padding: 20px;
    }
 
    header .group-name {
        margin-left: 50px;
        color: white;
    }
 
    header ul li a {
        color: white;
    }
 
    header img {
        display: block;
        margin-right: -90px;
    }

    header img {
        width: 50px;
        filter: invert(100%);
     }

    .vision-container {
    margin-top: -50px;  
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .vision-text,
    .mission-text,
    .goal-text {
        color: white;
        font-size: large;
        text-align: center;
        padding: 30px;
        font-weight: bold !important;
    }
    .about {
        color: white;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 100px;
        letter-spacing: 2px;
        font-size: x-large;
        font-weight: bold !important;
    }
    .vision-text h2, 
    .mission-text h2,
    .goal-text h2{
        display: flex;
        justify-content: center;
        font-size: xx-large !important;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
    .vision-container img,
    .mission-container img,
    .goal-container img {
        height: 300px;
        width: 350px;
        border-radius: 10px;
    }

    .mission-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .goal-container {
        display: flex;
        flex-direction: column;
    }

    

}
