*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 body {
    margin: 0;
    padding: 0;
    background-image: url(33136.jpg);
    background-size: cover;
 }
 
 
 header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aacfdf;
 }
 
 header img {
    width: 50px;
    display: none;
 }
 
 header .group-name {
    color: black;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: larger;
 }
 
 header ul {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 header ul li {
    list-style: none;
    margin-left: 20px;
 }
 
 header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 10px;
 }
 
 header ul li a:hover, 
 header ul li a.active {
    background: white;
    color: black;
    transition: .3s;
 }
 
 .counter-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 200px;
 }
 
 .trees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -25px;
 }
 
 .trees-container h3, 
 .corals-container h3 {
    font-size: xx-large;
 }

 .trees-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .corals-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .trees p {
   margin-top: -120px;
   font-weight: bold;
 }

 .corals p {
   margin-top: -100px;
   font-weight: bold;
 }
 
 .progress-bar,.progress-bar2 {
   position: relative;
   width: 500px;
   height: 3em;
   background-color: #25A18E;
   border-radius: 1.5em;
   color: white;
}
.progress-bar::before{
   content: attr(data-label);
   display: flex;
   align-items: center;
   position: absolute;
   left: .5em;
   top: .5em;
   bottom: .5em;
   width: var(--width, 0);
   min-width: 2rem;
   max-width: calc(100%-1em);
   background-color: greenyellow;
   border-radius: 1em;
   padding: 1em;
}
.progress-bar2::before{
   content: attr(data-label2);
   display: flex;
   align-items: center;
   position: absolute;
   left: .5em;
   top: .5em;
   bottom: .5em;
   width: var(--width, 0);
   min-width: 2rem;
   max-width: calc(100%-1em);
   background-color: blue;
   border-radius: 1em;
   padding: 1em;
}

 
 .donation-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px
 }
 
 .trees {
    border: none;
    padding: 30px; 
    background-image: url(tree\ plant.jpg);
    background-size: cover;
    color: black;
    border-radius: 30px;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
 }
 
 .trees h2 {
    margin-top: 10px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
 }
 
 .amounts1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
 
 .amounts1 button {
    width: 315px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #60a1b1;
    color: white;
 }
 
.amounts1 input.custom,
.amounts2 input.custom,
.amounts1 button.donate,
.amounts2 button.donate{
   width: 100%;
   padding: 15px;
   margin-top: 10px; 
   text-align: center;
 }
 
 .corals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
 }
 
 .corals-container h3 {
    color: black   ;
    text-align: center;
    margin-top: -10px;
 }
 
 .corals {
    border: none;
    padding: 30px;
    background-image: url(artificialreefs.jpg);
    background-size: cover;
    color: white;
    border-radius: 30px;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
 }
 
 .corals h2 {
    margin-top: 10px; 
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
 }
 
 .amounts2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
 }
 
 .amounts2 button {
    width: 315px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #004E64;
    color: white;
 }
 
 .custom1  {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #60a1b1;
    color: white;
 }

 ::placeholder {
    color: white;
    font-size: medium;
 }

 .custom2  {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #004E64;
    color: white;
 }
 
 .socials-container h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 200px ;
 }
 
 .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .icon {
    width: 60px;
    margin-right: 20px;
    filter: invert(100%);
    margin-bottom: 10px;
 }
 
 button:hover {
    background-color: white;
    color: black;
    transition: ease .3s;
 }
 
 button:focus {
    background-color: white;
    color: black;
 }

  #history h2{
   display: flex;
   justify-content: center;
   margin-top: 100px;
   font-size: xx-large;
 }

 .donation-bar {
   display: flex;
   justify-content: space-between;
   background-color: white;
   width: 50%;
   border-radius: 20px;
   padding: 10px;
 }

 .donation-details {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
 }

 .num-trees h3 {
   background-color: #25A18E;
   padding: 15px;
   border-radius: 20px;
   color: white;
 }

 .num-corals h3{
   background-color: #004E64;
   padding: 15px;
   border-radius: 20px;
   color: white;
 }
 
 
    
 
 @media only screen and (max-width:1300px) {
 
    body {
       background-size: cover;
       background-position: center;
    }
 
    header ul {
        width: 100%;
        background-color: #60a1b1;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        padding: 20px;
    }
 
    header .group-name {
        margin-left: 50px;
    }
 
    header ul li a {
        color: white;
    }
 
    header img {
        display: block;
        margin-right: -90px;
    }
 
    .counter-container, 
 .counter-container .trees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
 }
 
 .trees {
    margin-top: 20px;
 }
 
 .progress-bar,.progress-bar2 {
   position: relative;
   width: 500px;
   height: 3em;
   background-color: #25A18E;
   border-radius: 1.5em;
   color: white;
}
.progress-bar::before{
   content: attr(data-label);
   display: flex;
   align-items: center;
   position: absolute;
   left: .5em;
   top: .5em;
   bottom: .5em;
   width: var(--width, 0);
   min-width: 2rem;
   max-width: calc(100%-1em);
   background-color: greenyellow;
   border-radius: 1em;
   padding: 1em;
}
.progress-bar2::before{
   content: attr(data-label2);
   display: flex;
   align-items: center;
   position: absolute;
   left: .5em;
   top: .5em;
   bottom: .5em;
   width: var(--width, 0);
   min-width: 2rem;
   max-width: calc(100%-1em);
   background-color: blue;
   border-radius: 1em;
   padding: 1em;
}

 
 .donation-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px
 }
 
 .trees {
    padding: 20px; 
    width: 400px;
    height: 400px;
 }
 
 .trees h2 {
    margin-top: 10px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
 }
 
 .amounts1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
 
 .amounts1 button {
    width: 175px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #60a1b1;
    color: white;
 }
 
.amounts1 input.custom,
.amounts2 input.custom,
.amounts1 button.donate,
.amounts2 button.donate{
   width: 100%;
   padding: 15px;
   margin-top: 10px; 
   text-align: center;
 }
 
 .corals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
 }
 
 .corals-container h3 {
    color: black   ;
    text-align: center;
    margin-top: -10px;
 }
 
 .corals {
    padding: 20px;   
    width: 400px;
    height: 400px;
    margin-top: 20px;
 }
 
 .corals h2 {
    margin-top: 10px; 
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
 }
 
 .amounts2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
 }
 
 .amounts2 button {
    width: 175px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: #004E64;
    color: white;
 }
 
 
 .socials-container h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 200px ;
 }
 
 .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .icon {
    width: 60px;
    margin-right: 20px;
    filter: invert(100%);
    margin-bottom: 10px;
 }
    
 .tree-donations h2{
   margin-bottom: 50px;
 }

 .donation-bar {
   font-size: smaller;
   width: 95%;
   border-radius: 20px;
 }

 .donation-details {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
 }

 .num-trees h3,
 .num-corals h3 {
   padding: 10px;
 }

 .trees p {
   margin-top: -50px;
 }

 .corals p {
   margin-top: -30px;
 }

 
 }
 
 
 
 
 
