*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(locations.jpg);
    background-size: cover;
    background-position-y: 10%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #473C38;
}

header img {
    width: 50px;
    display: none;
 }

header .group-name {
    color: white;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: larger;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 10px;
}

header ul li a:hover, 
header ul li a.active {
    background: white;
    color: black;
    transition: .3s;
}

.location {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 200px;
    font-size: xx-large;
}

.data-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.data-container .data2 img {
    height: 700px;
}

.text {
    color: white;
    font-size: xx-large;
    display: flex;
    margin-left: 250px;
    margin-top: -100px;
    text-align: start;
    white-space: pre-line;
}

.map img {
    width: 700px;
}
.map {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width:1200px) {

    body {
       background-position: center;
    }
 
    header ul {
        width: 100%;
        background-color: #a18663;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
        padding: 20px;
    }
 
    header .group-name {
        margin-left: 50px;
        color: white;
    }
 
    header ul li a {
        color: white;
    }
 
    header img {
        display: block;
        margin-right: -90px;
    }

    header img {
        width: 50px;
        filter: invert(100%);
     }

    .location h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        text-align: center;
        margin-top: -50px;
     }

     .data-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
     }

     .data-container .data1 img {
        width: 370px;
        height: 400px;
        display: flex;
        margin-bottom: 70px;
     }

     .data-container .data2 img {
        width: 250px;
        height: 500px;
     }

     .text {
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
        font-size: medium;
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 10px;
        white-space: wrap;
     }

     .map img {
        width: 300px;
     }

}
